body{
    background-image: url(../img/028.png);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}


#create{
    text-decoration: underline;
}

#carddesign{
    margin-top:20%;
    padding-bottom: 10%;
    background:rgb(255, 255, 255, 0.8);
}

#logo{
    margin-top:35%;
}

#login{
    font-size:35px;
}

.login, .signup{
    font-size:20px;
    padding:0px 3px;
}
